@import colors

body
    font-family: dana, sans-serif!important
    background-color: $yoz-white

header > div, footer > div
    max-width: 1440px
    margin: 0 auto!important

section
    max-width: 1900px
    margin-right: auto!important
    margin-left: auto!important

header
    background-color: white
    width: 100%

    > .mobile
        padding: 20px
        @media screen and (min-width: 860px)
            display: none

        > div:first-child

            > img
                height: 65px

        > div:last-child
            padding-right: 10px!important

            > img
                height: 20px
    
    > .desktop
        @media screen and (max-width: 860px)
            display: none
        
        > .navigation > a
            text-decoration: none
            color: $yoz-blue1
            font-size: 22px
            padding: 0 30px
            font-weight: 600
            white-space: nowrap

        > .account

            > button
                border-radius: 10px
                height: 50px
                color: white
                border: none
                font-weight: 800
                font-size: 19px
                outline: none
                margin: 0 3px
                cursor: pointer

            > button:first-child
                background-color: $yoz-orange1
                padding-left: 32px
                padding-right: 32px

            > button:last-child
                background-color: $yoz-blue1
                padding-left: 15px
                padding-right: 15px