@import url("./fonts.css");

:root {
    --yoz-blue1: #3D5CAA;
    --yoz-blue2: #6484D4;
    --yoz-orange1: #F15A24;
    --yoz-orange2: #F79520;
    --yoz-yellow: #F9BC15;
    --yoz-white: #F1F3F9;
    --yoz-green: #0FA062;
    --yoz-red: #0FA062;
}

body
{
    font-family: dana, sans-serif!important;
}

footer
{
    width: 100%;
    position: relative;
    border: 1px solid red;
}

footer > .cover
{
    background-color: #557DBF;
}

footer > .cover > img
{
    width: fit-content;
    margin-bottom: -75.51px;
}

footer > .copyright
{
    padding: 0 20px;
    text-align: center;
}

footer > .copyright > p:first-child
{
    color: #557DBF;
    font-size: 20px;
}